.ho-heading {
}

.ho-service-title {
  font-size: 30px;
  font-weight: bold;
  padding: 25px;
  margin-bottom: 40px;
  line-height: 40px;
  text-align: center;

  text-shadow: 0px 0px 4px #333, 0 0 25px #555, 0 0 5px #aaa;
  background: repeating-linear-gradient(
    to top,
    #ffffff 0px,
    #ffffff 2px,
    #90caf9 2px,
    #90caf9 4px
  );

  // background: repeating-linear-gradient(
  //   to top,
  //   #ffffff 0px,
  //   #ffffff 2px,
  //   #40c057 2px,
  //   #40c057 4px
  // );

  & > * {
    display: block;
  }
}

.ho-fa-title {
  color: white;
  font-size: 30px !important;
  margin-bottom: 20px;
}

.ho-en-title {
  color: #90caf9;
  font-family: sans-serif;
  font-size: 30px !important;
}
