.ho-process-section {
  // flex: 1;

  &__img {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
}

@media (max-width: 1000px) {
  // .ho-process-section {
  //   &__img {
  //     width: 100%;
  //     // max-width: 800px;
  //     margin: 0 auto;
  //   }
  // }
}
