.ho-row2 {
  margin-bottom: 40px;
  // padding: 0 25px;
  display: flex;
  // align-items: flex-start;
  flex-wrap: wrap;

  gap: 30px;

  background-color: #fff;
}

@media (max-width: 1000px) {
  .ho-row2 {
    flex-direction: column;
    gap: 40px;
  }
}
